# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Hardhat build outputs
artifacts/
cache/
typechain/
coverage/
coverage.json

# Ignition local deployment state
ignition/deployments/
ignition/.openzeppelin/

# Env
.env
.env.*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/